/* Fondo animado */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("https://wallpaperaccess.com/full/2825704.gif") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Caja centrada con efecto glass */
.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(6px);
}

/* Logo con glow rojo */
.logo {
    width: 180px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 15px red) drop-shadow(0 0 30px red);
}

/* Título con glow azul */
h1 {
    font-size: 55px;
    margin: 0;
    text-shadow: 0 0 20px #00eaff, 0 0 40px #00eaff;
}

/* Texto */
p {
    font-size: 22px;
    opacity: 0.9;
}
